<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{126,63}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{126,63}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{128,75}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,54},{128,75}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,79}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,56},{130,79}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,67},{124,79}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,57},{124,79}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{112,85}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,55},{112,85}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{116,87}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,53},{116,87}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,91},{120,83}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,49},{120,83}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,148},{112,87}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{112,87}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{102,89}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,45},{102,89}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,152},{104,87}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,47},{104,87}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,176},{112,83}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,47},{112,83}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,79},{122,71}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{122,71}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>mark1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,241},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,241},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mark3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,241},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mark4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,220},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mark5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,186},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mark6.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,152},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc11b793e02bbcb014fe504a175566db$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
