<?xml version='1.0' encoding='UTF-8' ?>
<plist version="1.0">
	<dict>
		<key>character_walking_animation_name_format</key>
		<string>%s_%s</string>
		<key>bool</key>
		<true/>
		<key>character_direction_str_vector</key>
		<array>
			<string>Up</string>
			<string>Down</string>
			<string>Left</string>
			<string>Right</string>
		</array>
	</dict>
</plist>

