<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannons-level3-bullet-end0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,184},{36,31}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,52},{36,31}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{40,45}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{40,45}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,68},{56,37}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{56,37}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{50,73}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{50,73}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,120},{62,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{62,83}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{66,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{66,87}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,91}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{64,87}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{66,89}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,89}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end8.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,54},{64,65}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,65}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-end9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,184},{62,61}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,61}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>cannons-level3-bullet-run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannons-level3-bullet.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62be60ef3f48696f54e10c8a77cdaa6$</string>
            <key>textureFileName</key>
            <string>cannons-level3-bullet.png</string>
        </dict>
    </dict>
</plist>
