<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,256},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{48,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{50,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,300},{50,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,278},{50,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,329},{50,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,305},{50,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,284},{46,22}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{46,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{44,22}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,321},{44,22}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,284},{46,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{46,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,234},{48,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,183},{42,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{42,26}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,303},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,261},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,254},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,238},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,264},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,207},{55,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{55,23}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,296},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,227},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,200},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,177},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,277},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{53,29}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish02_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,241},{55,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{55,29}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>fish03_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,204},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,208},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{73,23}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,177},{73,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{73,21}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{73,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{73,21}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,177},{73,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{73,21}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,132},{73,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{73,23}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,181},{73,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{73,25}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,175},{73,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,146},{73,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{73,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,231},{69,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{69,27}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish03_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,148},{73,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{73,27}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>fish04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,233},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,211},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,181},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,260},{58,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{58,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,271},{58,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{58,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,302},{58,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{58,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,272},{58,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{58,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{56,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{56,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{56,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,200},{56,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{56,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,200},{54,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish04_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,273},{50,30}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{50,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fish05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,68},{90,41}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{90,41}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{90,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{90,39}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,93},{88,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{88,37}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{86,37}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{86,37}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,111},{86,35}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{86,35}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,111},{88,33}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{88,33}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,107},{88,33}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{88,33}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,70},{88,35}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{88,35}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,142},{86,37}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{86,37}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,70},{88,39}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{88,39}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,97},{84,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{84,43}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish05_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,132},{74,43}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{74,43}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>fish06_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{93,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{93,35}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{93,35}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,37},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,66},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{93,25}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,39},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{93,25}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,39},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,37},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{93,31}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{93,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{93,33}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>fish06_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{93,37}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d380fcabbea6c48fd45a6a9baac60863$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
