<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannons-level1-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{80,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,116},{80,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,304},{78,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,54}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,412},{78,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,48}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,427},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,427},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,383},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,375},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,360},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,422},{78,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{80,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,111},{80,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,163},{80,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,212},{80,46}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,213},{80,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,258},{80,44}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,110},{80,50}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,50}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level1-tower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>cannons-level2-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,380},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,57},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,260},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,434},{78,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,434},{78,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,368},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,326},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,329},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,314},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower18.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,272},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{78,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,62},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,58},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,162},{80,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,210},{80,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,162},{80,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{80,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,46}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level2-tower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,57},{80,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,58}</string>
            </dict>
            <key>cannons-level3-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,320},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,422},{78,51}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,51}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,274},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,259},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,217},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{78,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{78,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,57},{80,51}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{80,51}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,111},{80,49}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{80,49}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,168},{80,47}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,164},{80,47}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,47}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
            <key>cannons-level3-tower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,213},{78,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,59}}</string>
                <key>sourceSize</key>
                <string>{80,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cannons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b94283d912c5c7e39251be627b10871$</string>
            <key>textureFileName</key>
            <string>cannons.png</string>
        </dict>
    </dict>
</plist>
