<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mage-down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,238},{14,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{14,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,254},{16,18}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{16,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{18,18}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,138},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,116},{20,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,26},{22,26}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,260},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,218},{16,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,218},{16,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-down9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,238},{14,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{14,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-end0.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,174},{22,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-end1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{18,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{18,22}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-end2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,198},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-end3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-level1-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{72,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level1-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,212},{72,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level1-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,168},{72,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level1-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,60},{72,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{72,50}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level1-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{72,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,162},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,118},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,112},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level2-tower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,162},{72,48}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{72,48}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level3-tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,60},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level3-tower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level3-tower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level3-tower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-level3-tower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>mage-run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,236},{20,12}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{20,12}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,160},{24,12}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{24,12}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>mage-up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,236},{14,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{14,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,252},{16,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{16,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,218},{20,18}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{20,18}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,94},{20,24}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{20,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,72},{20,26}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,50},{20,26}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{22,26}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{22,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,220},{18,22}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{18,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,220},{18,22}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{18,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>mage-up9.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,218},{16,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{16,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mage.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4948aad250537bad52c8887181753cc$</string>
            <key>textureFileName</key>
            <string>mage.png</string>
        </dict>
    </dict>
</plist>
