<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{48,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{48,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{50,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,24},{50,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,20}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,54},{46,22}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{46,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,102},{44,22}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{44,22}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{44,22}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,76},{46,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{46,20}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_d00.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,46},{48,28}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>fish01_d01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{42,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{42,26}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>resources1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105dfbea2affda6042ca432788837946$</string>
            <key>textureFileName</key>
            <string>resources1.png</string>
        </dict>
    </dict>
</plist>
