<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,183},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,183},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef6d52cfd674bb5072b162590fa7f2c8:44393f64bc30dd11c50b72a82142f0f7:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
