#include<windows.h>
#include "Resource.h"
//菜单定义
MyMenuName MENU//窗口菜单名称
BEGIN
	POPUP "文件(&F)"
	BEGIN
		MENUITEM "创建统计计算菜单项(&P\t Ctrl+P)",IDM_ADDMENU
		MENUITEM "删除统计计算菜单项(&D)\t Ctrl+D",IDM_DELMENU,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "退出(&X)",IDM_EXIT
	END
	MENUITEM "帮助(&H)",IDM_HELP
END
MYMENUACCEL ACCELERATORS
BEGIN
	"^P",IDM_ADDMENU,ASCII,NOINVERT
	"^D",IDM_DELMENU,ASCII,NOINVERT
	"^X",IDM_EXIT,ASCII,NOINVERT
END
