<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boar-attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,62},{23,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,64},{23,16}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{23,16}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,62},{23,16}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,44},{23,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,44},{23,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,46},{23,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{23,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,44},{23,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-attack9.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,26},{23,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead0.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,117},{9,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{9,8}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,127},{15,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{15,14}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{21,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,83},{21,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{21,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{23,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{23,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead7.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,120},{19,20}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-dead8.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,105},{11,10}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{11,10}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,162},{17,14}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{17,14}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,162},{17,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{17,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,143},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,146},{17,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{17,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal0.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,82},{21,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{23,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,80},{21,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{23,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,102},{21,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{21,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal6.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,102},{21,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{21,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-horizontal7.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,141},{19,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{19,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,26},{23,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{23,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,24},{23,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,24},{23,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,80},{21,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{21,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{19,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,126},{19,18}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{19,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,123},{19,18}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{19,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,120},{19,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,105},{19,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,102},{19,20}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-tie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,62},{19,22}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,160},{17,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{17,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,159},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,141},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>boar-up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,143},{17,14}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{17,14}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boar.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e173c810614cffc0362a27c214eb26$</string>
            <key>textureFileName</key>
            <string>boar.png</string>
        </dict>
    </dict>
</plist>
