<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Middle Plane-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>Middle Plane-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>Middle Plane-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{69,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,93}}</string>
                <key>sourceSize</key>
                <string>{69,93}</string>
            </dict>
            <key>Middle Plane-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>Middle Plane-dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,77}}</string>
                <key>sourceSize</key>
                <string>{69,77}</string>
            </dict>
            <key>Small Plane-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>Small Plane-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>Small Plane-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>Small Plane-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,99},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>Small Plane-dead5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,99},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>bullet-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,99},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>bullet-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,99},{181,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,85}}</string>
                <key>sourceSize</key>
                <string>{181,85}</string>
            </dict>
            <key>player-dead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,99},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,280},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player-dead4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,280},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,461},{138,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,179}}</string>
                <key>sourceSize</key>
                <string>{138,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plane.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d918e0365e9eafa0466d847a412ec093:64eb61e0c5c2ecccf7b47cffe6831f46:927cf0ba96a0b2694a671f38b2855660$</string>
            <key>textureFileName</key>
            <string>Plane.png</string>
        </dict>
    </dict>
</plist>
